body {
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #ffffff;
}

#background {
    background: url(https://data.whicdn.com/images/138217336/large.jpg) no-repeat;
    background-size: contain;
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    opacity: 0.85;
}

#heading {
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: black;
    justify-content: center;
}

.container {
    width: 65%;
    margin: auto;
    display: flex;
    padding: 25px;
    margin-top: 50px;
    max-height: 65%;
    background-color: white;
}

#instructions {
    padding: 15px;
    background-color: #3c83ae;
    width: 50%;
    height: 100%;
    margin: 10px;
    padding: 25px;
    font-size: 1vw;
}

#game-screen {
    width: 40%;
    float: right;
    height: 100%;
    margin: 10px;
    padding: 25px;
    color: #8cccd5;
}

#clear {
    clear: both;
}

#randomNumberToGuess {
    width: 30%;
    height: 100px;
    float: left;
    border: 3px solid #8cccd5;
    position: relative;
    text-align: center;
    border-radius: 50%;
}

#guessNumber {
    color: #86a8d5;
    font-size: 45px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#win-lose-counter {
    margin-left: 70%;
    width: 35%;
    height: 110px;
    background: black;
    background-color: white;
    position: relative;
    color: #86a8d5;
}

#crystal-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 60px;
    height: 60px;
    padding: 5px;
    margin: 5px;    
}

img:hover{
    border: 1px solid #575353;
}

#score-container {
    padding: 20px;
    background-color: white;
    color: black;
    text-align: center;
    max-width: 85%;
    height: 70px;
    margin: auto;
    position: relative;
}

#winCount {
    font-size: 20px;
}

#loseCount {
    font-size: 20px;
}

#totalScore {
    font-size: 25px;
    padding: 10px;
}

#footer {
    display: flex;
    justify-content: center;
    padding: 10px;
}

/* Use a media query to add a break point at 800px: */

@media screen and (max-width: 800px) {
    #background, .container, #instructions, #game-screen, #score-container {
    width: 100%;
